body {
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}

body a {
    color: #F5F5F5;
}

body a:hover {
    color: #F1D302;
}

.container-fluid {
    margin-left: 20px;
    margin-right: 20px;
}

.full-height-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
    background-color: #2B303B;
}

.navbar-linklist {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

.navbar {
    color: #F5F5F5;
    background-color: #22262F;
}

footer {
    color: #B36BAE;
    background-color: #22262F;
}

.nav-title, .nav-title:hover, .nav-title:focus, .nav-title:active {
    color:#B36BAE !important;
    font-size: 50px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #B36BAE !important;
}

.navbar a {
    color: #F5F5F5;
    text-decoration: none;
}

.navbar a:hover, a:focus {
    color: #F1D302 !important;
}

.about-me-container p {
    text-align: justify;
}

.about-me-side-image img {
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.flex-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-width {
    max-width: 40%;
    margin-bottom: 50px;
}

form .custom-btn {
    margin-top: 20px;
}

footer a {
    color: #B36BAE;
}

footer a:hover {
    color: #F1D302;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.tray-icon-size {
    height: 2.5em;
    padding-right: 5px;
}

.custom-card-body {
    background-color: #B36BAE;
    color:#F5F5F5;
}

.card-body-top-row {
    display: flex;
    align-items: center;
}

.project-icon {
    height: 35px;
    margin-left: 10px;
}

.custom-btn {
    background-color: #F1D302;
    color: #22262F;
}

.custom-btn:hover {
    background-color: #FDE85D;
    color: #22262F;
    font-weight: bold;
}

.body-width {
    padding: 10%;
}

.resume-block {
    flex-grow: 1;
}

.error-text {
    color: #F1D302;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}

h1 {
    color: #B36BAE;
    padding-bottom: 30px;
    font-weight: bold;
}

h4 {
    color: #B36BAE;
    padding-top: 20px;
}

@media screen and (max-width: 1000px) {
    .container-fluid {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 992px) {
    .nav-title {
        align-self: flex-start;
    }

    .navbar-linklist {
        align-self: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .icon-tray {
        margin-bottom: 20px;
    }

    .card-width {
        max-width: 100%;
    }
}